@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/fonts/NotoSansKR-Regular.woff2') format('woff2'), url('/fonts/NotoSansKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/fonts/NotoSansKR-Medium.woff2') format('woff2'), url('/fonts/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
    background-color: #222;
    background-image: url("/img/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}


/* Window */

.main-window {
    max-width: 500px;
    width: 100%;
    margin: auto;
    background-color: #fcfcfc;
    color: #111;
    border-radius: 5px;
    box-shadow: #0009 0px 0px 20px;
}

.window-title {
    background-color: #00ffaa;
    color: #333;
    border-radius: 5px 5px 0 0;
    padding: 6px 8px 6px 0px;
    display: flex;
}

h1.window-title-text {
    margin: 0;
    margin-left: 7px;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
}

.window-title-sidebtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.35em;
    font-weight: 200;
    color: #00b679;
    line-height: 1;
    margin: 0;
    padding: 0;
    transition: color 0.2s ease-in-out;
}

.window-title-sidebtn:not(:last-child)::after {
    border-right: 1px solid #00db92;
    content: "";
    margin-left: 10px;
}

.window-title-sidebtn {
    padding-left: 10px;
}

.window-title-sidebtn:last-child {
    padding-right: 10px;
}

.window-title-sidebtn:hover {
    font-weight: 500;
}

.window-title-sidebtn.active {
    font-size: 1.35em;
    margin: 0;
    font-weight: 500;
    color: #333;
    cursor: default;
}

.window-content {
    padding: 20px;
    padding-bottom: 25px;
    transition: height 300ms ease-in-out;
}


/* Buttons */

button {
    font-family: inherit;
}

.btn {
    color: #333;
    border-radius: 3px;
    padding: 10px 11px 9px 11px;
    font-size: 1.1em;
    cursor: pointer;
    transition: ease-in-out 100ms;
    transition-property: color, border-color, background-color;
    line-height: 1;
}

.btn-primary {
    background-color: #00ffaa;
    border: 1px solid #00ca87;
}

.btn-primary:hover {
    background-color: #8effd9;
}

.btn-primary:active {
    border-color: #00ffaa;
    background-color: #00d68f;
    color: white;
}

.btn-primary-outline {
    background-color: transparent;
    color: #00ca87;
    border: 1px solid #00ca87;
}

.btn-primary-outline:hover {
    background-color: #00ffaa33;
}

.btn-primary-outline:active {
    border-color: #00ca87;
    background-color: #00ffaa8a;
    color: #ffffff;
}

.btn-secondary {
    background-color: #00fff2;
    border: 1px solid #00b4ab;
}

.btn-secondary-outline {
    background-color: transparent;
    color: #00a8b4;
    border: 1px solid #00a8b4;
}

.btn-secondary-outline:hover {
    background-color: #00e1ff33;
}

.btn-secondary-outline:active {
    border-color: #00a8b4;
    background-color: #00e1ff8a;
    color: #ffffff;
}


/* Utils */

.inline {
    display: inline-block;
}

.align-right {
    text-align: right;
}

.hidden {
    display: none;
}

.rightmost-buttons {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 15px 0 0;
    display: flex;
    flex-direction: row-reverse;
}

.rightmost-buttons>*:not(:last-child) {
    margin-left: 10px;
}

.current-user-info {
    color: #fff;
    background-color: #00000055;
    padding: 6px;
    border-radius: 0 0 5px 5px;
    line-height: 1;
    font-family: "D2Coding", monospace;
    cursor: pointer;
}

.go-to-mainpage {
    color: #fff;
    background-color: #00000055;
    padding: 6px;
    border-radius: 0 0 5px 5px;
    line-height: 1;
    font-family: "D2Coding", monospace;
    cursor: pointer;
}