body {
    color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-window {
    background-color: #ddd;
}

.window-content {
    max-height: 70vh;
    overflow-y: auto;
}

.project-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.window-content::-webkit-scrollbar {
    width: 8px;
}

.window-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    margin: 5px 0;
}

.window-content::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;
}

.project-info {
    margin-top: 15px;
    background-color: #333;
    border: 1px solid #222;
    box-shadow: 0 0 10px 0 #00000033;
    border-radius: 4px;
    padding: 10px;
}

.project-name {
    color: #74e3ff;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.project-description {
    color: #ccc;
}

.project-owner {
    color: #888;
    float: right;
    font-size: 0.9em;
    margin: 0;
    margin-top: 2px;
}

.project-public-icon {
    float: right;
    background-image: url("/img/icons/check.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    min-height: 16px;
    min-width: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-left: 4px;
    margin-top: 2px;
}

.project-private-icon {
    float: right;
    background-image: url("/img/icons/key.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    min-height: 16px;
    min-width: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-left: 4px;
    margin-top: 2px;
}