.main-layout {
    color: #ddd;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-nav {
    background-color: #222;
    border: 1px solid #007a52;
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 5px;
    flex-grow: 2;
    height: fit-content;
    max-width: 280px;
    max-height: 90vh;
    overflow-y: auto;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.project-nav h1 {
    margin: 0;
}

.project-nav hr {
    border-style: solid;
    border-color: #00aaaa;
    border-top: none;
}

.project-nav a h1 {
    color: #eee;
}

.project-nav ul {
    padding-left: 30px;
}

.main-container {
    background-color: #222;
    max-width: 1000px;
    /* margin: 0 auto; */
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;
    border: 1px solid #007a52;
    border-top-style: none;
    border-bottom-style: none;
    line-height: 1.5;
    text-align: justify;
    outline: none;
}

.main-container[contenteditable=true] {
    /* TODO: make a proper editor and remove this line */
    white-space: pre-line;
}

.main-container:focus {
    border-color: #00ffaa;
}

.main-container h1 {
    font-size: 2em;
}

a {
    color: #00ffaa;
    text-decoration: none;
}

a:visited {
    color: #00ffaa;
}

a:hover {
    /* text-decoration: #00ffaa55 underline; */
    font-weight: 500;
}

li#new-document-button {
    /* content: "[+] "; */
    list-style-image: url("/img/icons/new.png");
}

@media (max-width: 1280px) and (min-width:1001px) {
    .project-nav {
        border-radius: 0;
        border-right: none;
    }
}

@media (max-width: 1000px) {
    .main-layout {
        flex-direction: column;
        min-height: 100vh;
    }
    .project-nav {
        position: inherit;
        top: 0;
        overflow-y: auto;
        max-height: 40vh;
        /* max-width: 280px; */
        min-width: 100vw;
        margin: 10px auto 0 auto;
        justify-self: center;
        flex-grow: unset;
        border-radius: 0;
        border-bottom: none;
    }
    .main-container {
        border-top-style: solid;
        min-height: unset;
        min-width: 100vw;
        margin: 0 auto;
    }
}